name: Lint HTML_CSS

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install htmlhint
        run: npm install --save-dev htmlhint

      - name: Run HTMLHint
        run: npx htmlhint "**/*.html"